.benefits {
    background-color: #101215;
    padding-top: 80px;
    padding-bottom: 217px;
    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 62px;
        padding-bottom: 84px;
    }
}
.benefits__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}
.benefits__title {
    position: relative;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.21;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 130px;
    padding-bottom: 20px;
    &::after {
        position: absolute;
        content: "";
        background-color: #0066FF;
        border-radius: 4.5px;
        width: 251px;
        height: 6px;
        bottom: 0;
        transform: translateX(-50%);
    }
    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 22px;
        line-height: 1.22;
        color: #FFFFFF;
        margin-bottom: 32px;
        &::after {
            width: 131px;
            height: 3px;
        }
    }
}
.benefits__column {
    // display: inline-block;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Tablet */
    @media (max-width: 991px) {
        text-align: center;
    }
    
}
